<div class="container p-3 my-4 bg-light">
  <h2 style="color:blue">Datos del usuario</h2>
  <br/>
  <p><b>email: </b>{{dataToShow.username}}</p>
  <p><b>Nombre: </b>{{dataToShow.name}}</p>
  <p><b>Dirección: </b>{{dataToShow.address}}</p>
  <p><b>Edad: </b>{{dataToShow.age}}</p>
  <p><b>Teléfono: </b>{{dataToShow.phone}}</p>
  <p><b>Avatar: </b></p>{{!-- <img src="../avatars/{{dataToShow.username}}.jpeg" alt="avatar"> --}}
  <br/>
</div>